<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>


    <body>
        <%- include('./partials/nav.ejs') %>

            <div> 
                <h2>
                    <%=blog.title%>
                </h2>
                <div>
                    <%=blog.snippet%>
                        <div>
                            <%=blog.body%>
                        </div>
                </div><br>
<a href="#" class="delete" data-doc="<%=blog._id%>">Delete</a>            </div>
<br>
            <%- include('./partials/footer.ejs')%>

            
    
</body>
</html>